
        body {
           color: aliceblue;
            text-align: center;
        }
        .calculator {
            background: #414141;
            width: 300px;
            margin: auto;
           
      }
        input, button {
            margin: 10px ;
            padding: 5px;
            width: 90%;
        }
        .result {
            margin-top: 20px;
            font-size: 1.2em;
            
        }

       
       